html, body{
	height: 100%;
	padding: 0;
	margin: 0;
}
html{
	height: 100%;
}
body{
	min-height: 100%;
}

.top-bar ul li a{
	font-size: 1.1rem;
	font-family: "微軟正黑體";
}

.navbar{
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	border-radius: 25px;
}

.navbar-header{
	text-align: center;
}

.primary{
	max-height: 80%;
	text-align: center;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid transparent;
	border-radius: 30px;
	background-color: #EEE;
	padding: 1%;
}

.primary .question-content h1{
	font-family: "微軟正黑體";
}

.primary .question-content p{
	text-indent: 2em;
	font-family: "微軟正黑體";
} 

.primary .questions{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.primary .questions h3{
	color: white;
	font-family: "微軟正黑體";
}

/*.primary .questions .list-group-item{
	border: 1px solid transparent;
	border-radius: 10px;
	margin: 20px;
}

.primary .list-group-item h3{
	margin-top: 20px;
	margin-bottom: 20px;
	word-wrap: break-word;
}

.primary a{
	text-decoration: none;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}*/